html,
body {
    background-color: rgb(247, 234, 217);
}

header,
main,
footer {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 100%;
    font-size: 5em;
    text-align: center;
    box-shadow: rgb(168, 147, 147) 10px 10px 10px 10px;
    margin: 10px auto;
}

header {
    background-color: yellow;
}

main {
    background-color: yellow;
}

footer {
    background-color: lightgreen;
}

<<<<<<< HEAD
.green {
    background-color: lightgreen;
}

.blue {
    background-color: lightblue;
}

.white {
=======
.header2 {
>>>>>>> a119416933cbe440acc9e114237fba96b9e7b29a
    background-color: white;
}